---
set_resource_limits: true

zap_encoding: json
zap_level: debug

images:
  metal_api:
    image: ghcr.io/metal-stack/metal-api
    imagePullPolicy: IfNotPresent
    tag: latest
  metal_apiserver:
    image: ghcr.io/metal-stack/metal-apiserver
    imagePullPolicy: IfNotPresent
    tag: latest
  masterdata_api:
    image: ghcr.io/metal-stack/masterdata-api
    imagePullPolicy: IfNotPresent
    tag: latest
  ipam:
    image: ghcr.io/metal-stack/go-ipam
    imagePullPolicy: IfNotPresent
    tag: latest
  metalctl:
    image: ghcr.io/metal-stack/metalctl
    imagePullPolicy: IfNotPresent
    tag: latest
  metal_console:
    image: ghcr.io/metal-stack/metal-console
    imagePullPolicy: IfNotPresent
    tag: latest

resources:
  metal_api:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "256Mi"
      cpu: "200m"
  masterdata_api:
    requests:
      memory: "32Mi"
      cpu: "50m"
    limits:
      memory: "64Mi"
      cpu: "200m"
  ipam:
    requests:
      memory: "32Mi"
      cpu: "50m"
    limits:
      memory: "64Mi"
      cpu: "200m"
  metal_console:
    requests:
      memory: "64Mi"
      cpu: "40m"
    limits:
      memory: "128Mi"
      cpu: "60m"
  metal_apiserver:
    requests:
      memory: "200Mi"
      cpu: "200m"
    limits:
      memory: "2Gi"
      cpu: "2"

hpa:
  metal_api:
    enabled: false
    max: 5
    min: 3
    cpu_percentage: 70
  metal_apiserver:
    enabled: false
    max: 5
    min: 3
    cpu_percentage: 70

pod_disruption_budget:
  ipam:
    enabled: true
    min_available: 1
  metal_api:
    enabled: true
    min_available: 2
  masterdata_api:
    enabled: true
    min_available: 1
  metal_console:
    enabled: false
    min_available: 1
  metal_apiserver:
    enabled: false
    min_available: 2

ports:
  metal_api: 8080
  metal_apiserver: 8080
  metal_apiserver_metrics: 2112
  metal_api_grpc: 50051
  metal_api_metrics: 2112
  masterdata_api: 8443
  masterdata_api_metrics: 2113
  metal_console: 10001
  ipam: 9090
  ipam_metrics: 2112

metal_api:
  replicas: 3
  base_path: "/"
  log_level: info
  db_address: ""
  db_password: ""
  ipam_grpc_server_endpoint: ""
  dex_address: ""
  dex_clientid: ""
  view_key: ""
  edit_key: ""
  admin_key: ""
  password_reason_minlength: 0
  nsq:
    lookupd_address: ""
    tcp_address: ""
    http_address: ""
    tls:
      enabled: false
      secret_name: ""
      checksum: ""
  grpc:
    tls:
      enabled: false
      server_key_enc: ""
      server_cert_enc: ""
      ca_cert_enc: ""
  bmc:
    superuser:
      pwd_enc: ""
      enabled: false
  partitions: "[]"
  sizes: "[]"
  images: "[]"
  networks: "[]"
  ips: "[]"
  projects: "[]"
  filesystemlayouts: "[]"
  sizeimageconstraints: "[]"
  size_reservations: "[]"
  s3:
    enabled: false
    address: ""
    key: ""
    secret: ""
    firmware_bucket: ""
  headscale:
    enabled: false
    api_key: ""
    internal_api_address: ""
    control_plane_address: ""
  minimum_client_version: ""
  release_version: ""

metal_apiserver:
  enabled: false
  replicas: 1
  log_level: info
  url:
  db:
    addresses: []
    password:
  oidc:
    client_id:
    client_secret:
    discovery_url:
    end_session_url:
  session_secret:
  redis:
    addr:
    password:
  admin_subjects: []
  auditing:
    enabled: true
    timescaledb:
      host: auditing-timescaledb
      port: 5432
      db: auditing
      user: postgres
      password: "change-me"
      retention: "14-days"
  rateLimit:
    maxRequestsPerMinute: 1000
    maxUnauthenticatedRequestsPerMinute: 50

ipam:
  replicas: 2
  grpc_server_endpoint: "0.0.0.0:9090"
  log_level: "info"
  db_host: ""
  db_port: 5432
  db_name: ""
  db_user: ""
  db_password: ""

masterdata_api:
  replicas: 2
  provider_tenant: ""
  db_address: ""
  db_port: 5432
  db_name: ""
  db_user: ""
  db_password: ""
  size: 2Gi
  tenants: "[]"
  projects: |
    ---
    # this is the project that can be used for metal-api master data
    # e.g. creating networks, reserve ips, ... with this project
    meta:
      id: 00000000-0000-0000-0000-000000000000
      kind: Project
      apiversion: v1
      version: 0
    name: metal-system
    description: Metal Master Project
    tenant_id: metal
  ca: ""
  cert: ""
  cert_key: ""
  client_cert: ""
  client_key: ""
  hmac: ""

metal_console:
  enabled: false
  replicas: 3
  bmc_proxy:
    tls:
      server_key_enc: ""
      server_pub_enc: ""
      client_key_enc: ""
      client_cert_enc: ""
      ca_cert_enc: ""

ingress_public_dns:
v2_ingress_public_dns:

deploy_ingress: true
ingress:
  annotations: {}
  tls:
    enabled: false

auditing:
  search_backend: ""
  timescaledb:
    enabled: false
    host: ""
    port: "5432"
    db: auditing
    user: postgres
    password: ""
    retention: "14 days"

metal_registry_auth_enabled:
metal_registry_auth:
  auths:
    https://index.docker.io/v1/:
      username: ""
      password: ""
      auth: ""
