
lvm:
  # This one you should change
  devicePattern: /dev/nvme[0-9]n[0-9]

  # these are primariliy for testing purposes
  vgName: csi-lvm
  driverName: lvm.csi.metal-stack.io
  storageClassStub: csi-driver-lvm

rbac:
  create: true
  pspEnabled: true

## enable, if you want to install storage classes with v0.3.x backward-compatible `csi-lvm-sc-*` names
compat03x: false

pluginImage:
  repository: metalstack/lvmplugin
  tag: v0.4.1
  pullPolicy: IfNotPresent

provisionerImage:
  repository: metalstack/csi-lvmplugin-provisioner
  tag: v0.4.1
  pullPolicy: IfNotPresent
