{{- if .Values.registry_auth_enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: ipam-registry-credentials
  name: ipam-registry-credentials
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ .Values.registry_auth | toJson | b64enc }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ipam
spec:
  replicas: {{ .Values.ipam.replicas }}
  selector:
    matchLabels:
      app: ipam
  template:
    metadata:
      labels:
        app: ipam
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/path: /metrics
        prometheus.io/port: '2112'
    spec:
{{- if .Values.registry_auth_enabled }}
      imagePullSecrets:
      - name: ipam-registry-credentials
{{- end }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - ipam
              topologyKey: kubernetes.io/hostname
      containers:
      - name: ipam
        args:
          - postgres
        image: {{ .Values.images.ipam.image }}:{{ .Values.images.ipam.tag }}
        imagePullPolicy: {{ .Values.images.ipam.imagePullPolicy }}
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        env:
          - name: GOIPAM_GRPC_SERVER_ENDPOINT
            value: {{ .Values.ipam.grpc_server_endpoint }}
          - name: GOIPAM_PG_HOST
            value: {{ .Values.ipam.db_host }}
          - name: GOIPAM_PG_PORT
            value: "{{ .Values.ipam.db_port }}"
          - name: GOIPAM_PG_DBNAME
            value: {{ .Values.ipam.db_name }}
          - name: GOIPAM_PG_PASSWORD
            value: {{ .Values.ipam.db_password }}
          - name: GOIPAM_PG_USER
            value: {{ .Values.ipam.db_user }}
          - name: GOIPAM_LOG_LEVEL
            value: "{{ .Values.ipam.log_level }}"
{{- if .Values.set_resource_limits }}
        resources:
{{ toYaml .Values.resources.ipam | indent 10 }}
{{- end }}
        ports:
        - containerPort: 2112
          protocol: TCP
        - containerPort: 9090
        readinessProbe:
          exec:
            command: ["/bin/grpc_health_probe", "-addr=:9090"]
          initialDelaySeconds: 5
        livenessProbe:
          exec:
            command: ["/bin/grpc_health_probe", "-addr=:9090"]
          initialDelaySeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: ipam
  labels:
    app: ipam
spec:
  type: ClusterIP
  ports:
  - name: "{{ .Values.ports.ipam }}"
    port: {{ .Values.ports.ipam }}
    targetPort: 9090
  - name: "{{ .Values.ports.ipam_metrics }}"
    port: {{ .Values.ports.ipam_metrics }}
    targetPort: 2112
  selector:
    app: ipam
{{- if .Values.pod_disruption_budget.ipam.enabled }}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: ipam
spec:
  minAvailable: {{ .Values.pod_disruption_budget.ipam.min_available }}
  selector:
    matchLabels:
      app: ipam
{{- end }}
