{{- if .Values.registry_auth_enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: masterdata-api-registry-credentials
  name: masterdata-api-registry-credentials
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/hook-delete-policy": before-hook-creation
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ .Values.registry_auth | toJson | b64enc }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: masterdata-api
spec:
  replicas: {{ .Values.masterdata_api.replicas }}
  selector:
    matchLabels:
      app: masterdata-api
  template:
    metadata:
      labels:
        app: masterdata-api
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/masterdata-api-config.yaml") . | sha256sum }}
        prometheus.io/scrape: 'true'
        prometheus.io/path: /metrics
        prometheus.io/port: '2112'
    spec:
{{- if .Values.registry_auth_enabled }}
      imagePullSecrets:
      - name: masterdata-api-registry-credentials
{{- end }}
      containers:
      - name: masterdata-api
        image: {{ .Values.images.masterdata_api.image }}:{{ .Values.images.masterdata_api.tag }}
        imagePullPolicy: {{ .Values.images.masterdata_api.imagePullPolicy }}
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        env:
          - name: MASTERDATA_API_CA
            value: /certs/ca.pem
          - name: MASTERDATA_API_CERT
            value: /certs/server.pem
          - name: MASTERDATA_API_CERTKEY
            value: /certs/server-key.pem
          - name: MASTERDATA_API_DBHOST
            value: {{ .Values.masterdata_api.db_address }}
          - name: MASTERDATA_API_DBNAME
            value: {{ .Values.masterdata_api.db_name }}
          - name: MASTERDATA_API_DBPASSWORD
            value: {{ .Values.masterdata_api.db_password }}
          - name: MASTERDATA_API_DBPORT
            value: "{{ .Values.masterdata_api.db_port }}"
          - name: MASTERDATA_API_DBUSER
            value: {{ .Values.masterdata_api.db_user }}
          - name: MASTERDATA_API_PORT
            value: "8443"
          - name: MASTERDATA_API_HMACKEY
            value: "{{ .Values.masterdata_api.hmac }}"
{{- if .Values.set_resource_limits }}
        resources:
{{ toYaml .Values.resources.masterdata_api | indent 10 }}
{{- end }}
        ports:
        - containerPort: 2112
          protocol: TCP
        - containerPort: 8443
        readinessProbe:
          exec:
            command: ["/bin/grpc_health_probe", "-addr=:8443", "-tls", "-tls-ca-cert=/certs/ca.pem", "-tls-client-cert=/certs/server.pem", "-tls-client-key=/certs/server-key.pem", "-tls-server-name=localhost"]
          initialDelaySeconds: 5
        livenessProbe:
          exec:
            command: ["/bin/grpc_health_probe", "-addr=:8443", "-tls", "-tls-ca-cert=/certs/ca.pem", "-tls-client-cert=/certs/server.pem", "-tls-client-key=/certs/server-key.pem", "-tls-server-name=localhost"]
          initialDelaySeconds: 10
        volumeMounts:
        - name: certs
          mountPath: /certs
        - name: initdb-project-volume
          mountPath: /initdb.d/project.yaml
          subPath: project.yaml
        - name: initdb-tenant-volume
          mountPath: /initdb.d/tenant.yaml
          subPath: tenant.yaml
      volumes:
      - name: certs
        secret:
          secretName: masterdata-api-tls
      - name: initdb-project-volume
        configMap:
          name: default-project
      - name: initdb-tenant-volume
        configMap:
          name: default-tenant
---
apiVersion: v1
kind: Service
metadata:
  name: masterdata-api
  labels:
    app: masterdata-api
spec:
  type: ClusterIP
  ports:
  - name: "{{ .Values.ports.masterdata_api }}"
    port: {{ .Values.ports.masterdata_api }}
    targetPort: 8443
  - name: "{{ .Values.ports.masterdata_api_metrics }}"
    port: {{ .Values.ports.masterdata_api_metrics }}
    targetPort: 2112
  selector:
    app: masterdata-api
{{- if .Values.pod_disruption_budget.masterdata_api.enabled }}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: masterdata-api
spec:
  minAvailable: {{ .Values.pod_disruption_budget.masterdata_api.min_available }}
  selector:
    matchLabels:
      app: masterdata-api
{{- end }}
