{{ if .Values.metal_apiserver.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: metal-apiserver
  name: metal-apiserver
type: Opaque
stringData:
  masterdata_api_hmac: {{ .Values.masterdata_api.hmac }}
  redis_password: {{ .Values.metal_apiserver.redis.password }}
  session_secret: {{ .Values.metal_apiserver.session_secret }}
{{- end }}
